discrete_math/week1-1.pdf filter=lfs diff=lfs merge=lfs -text
discrete_math/week1-2.pdf filter=lfs diff=lfs merge=lfs -text
discrete_math/week1-3.pdf filter=lfs diff=lfs merge=lfs -text
discrete_math/week2-1.pdf filter=lfs diff=lfs merge=lfs -text
discrete_math/week2-2.pdf filter=lfs diff=lfs merge=lfs -text
discrete_math/week2-3.pdf filter=lfs diff=lfs merge=lfs -text
